In [1]:
import data_cleaning, data_extraction, database_utils
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Milestone 2

## Task 3

In [2]:
rds = database_utils.DatabaseConnector()
rds_credentials = rds.read_db_creds('db_creds.yaml')
print(rds_credentials)
rds_engine = rds.init_db_engine('db_creds.yaml')

list_tables = rds.list_db_tables(rds_engine)
print(list_tables)

{'HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'PASSWORD': 'AiCore2022', 'USER': 'aicore_admin', 'DATABASE': 'postgres', 'PORT': 5432}
{'HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'PASSWORD': 'AiCore2022', 'USER': 'aicore_admin', 'DATABASE': 'postgres', 'PORT': 5432}

Tables List:  ['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

In [3]:
table_name = 'legacy_users'
extract = data_extraction.DataExtractor()
table_pd = extract.read_rds_table(table_name=table_name, engine=rds_engine)
table_pd.to_csv('tables & csv/legacy_users.csv')
display(table_pd)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [4]:
clean = data_cleaning.DataCleaning()
cleaned_user_data = clean.clean_user_data(table_pd)
cleaned_user_data.to_csv('tables & csv/legacy_users_cleaned.csv')
display(cleaned_user_data)

       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
Info:
 None
Missing values in each column:
 index            0
first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

Null values in each column:
 index            0
first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

Data types of each column:
 index             int64
first_name       object
last_name        object
date_of_birth    object
company          object
email_address    object
address          object
country          object
country_code     object
phone_number     object
join_date        object
user_uuid        object
dtype: object

Description of the DataFrame:
                index first_name last_name date_of_birth    company  \
count   15320.000000      15320     15320         15320      15320
unique           NaN       2178      1192         11360      12105
top              NaN    Michael     Smith          NULL  Smith Inc
freq             NaN         57       340            21         22
mean     7659.500000        NaN       NaN           NaN        NaN
std      4422.647397        NaN       NaN           NaN        NaN
min         0.000000        NaN       NaN           NaN        NaN
25%      3829.750000        NaN       NaN           NaN        NaN
50%      7659.500000        NaN       NaN           NaN        NaN
75%     11489.250000        NaN       NaN           NaN        NaN
max     15319.000000        NaN       NaN           NaN        NaN

       email_address address         country country_code phone_number  \
count          15320   15320           15320        15320        15320
unique         15300   15300              19           20        15092
top             NULL    NULL  United Kingdom           GB         NULL
freq              21      21            9371         9365           21
mean             NaN     NaN             NaN          NaN          NaN
std              NaN     NaN             NaN          NaN          NaN
min              NaN     NaN             NaN          NaN          NaN
25%              NaN     NaN             NaN          NaN          NaN
50%              NaN     NaN             NaN          NaN          NaN
75%              NaN     NaN             NaN          NaN          NaN
max              NaN     NaN             NaN          NaN          NaN

       join_date user_uuid
count      15320     15320
unique      8268     15300
top         NULL      NULL
freq          21        21
mean         NaN       NaN
std          NaN       NaN
min          NaN       NaN
25%          NaN       NaN
50%          NaN       NaN
75%          NaN       NaN
max          NaN       NaN
Warning: Column 'first_name' contains non-numeric data.
Warning: Column 'last_name' contains non-numeric data.
Warning: Column 'date_of_birth' contains non-numeric data.
Warning: Column 'company' contains non-numeric data.
Warning: Column 'email_address' contains non-numeric data.
Warning: Column 'address' contains non-numeric data.
Warning: Column 'country' contains non-numeric data.
Warning: Column 'country_code' contains non-numeric data.
Warning: Column 'phone_number' contains non-numeric data.
Warning: Column 'join_date' contains non-numeric data.
Warning: Column 'user_uuid' contains non-numeric data.
Warning: Column 'first_name' contains non-numeric data.
Warning: Column 'last_name' contains non-numeric data.
Warning: Column 'date_of_birth' contains non-numeric data.
Converted 'date_of_birth' to datetime.
Warning: Column 'company' contains non-numeric data.
Warning: Column 'email_address' contains non-numeric data.
Warning: Column 'address' contains non-numeric data.
Warning: Column 'country' contains non-numeric data.
Warning: Column 'country_code' contains non-numeric data.
Warning: Column 'phone_number' contains non-numeric data.
Warning: Column 'join_date' contains non-numeric data.
Converted 'join_date' to datetime.
Warning: Column 'user_uuid' contains non-numeric data.

Data types of each column before cleaning:
 index                     int64
first_name               object
last_name                object
date_of_birth    datetime64[ns]
company                  object
email_address            object
address                  object
country                  object
country_code             object
phone_number             object
join_date        datetime64[ns]
user_uuid                object
dtype: object
Missing values in each column after cleaning:
 index            0
first_name       0
last_name        0
date_of_birth    0
company          0
email_address    0
address          0
country          0
country_code     0
phone_number     0
join_date        0
user_uuid        0
dtype: int64

Data types of each column after cleaning:
 index                     int64
first_name               object
last_name                object
date_of_birth    datetime64[ns]
company                  object
email_address            object
address                  object
country                  object
country_code             object
phone_number             object
join_date        datetime64[ns]
user_uuid                object
dtype: object

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:55: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mean(), inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:59: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:59: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:57: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:59: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  user_df[column].fillna(user_df[column].mode()[0], inplace=True)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [5]:
upload = database_utils.DatabaseConnector()
upload_engine = upload.init_db_engine('my_sales_db.yaml')
upload.upload_to_db(pandas_dataframe=cleaned_user_data, upload_table_name='dim_users', engine=upload_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_users

## Task 4

In [6]:
upload_table_name='dim_card_details'
link_to_pdf = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"

extract = data_extraction.DataExtractor()
pdf_data_pd = extract.retrieve_pdf_data(link=link_to_pdf, pages='all')
pdf_data_pd.to_csv('tables & csv/pdf_data.csv')
display(pdf_data_pd)

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/.conda/lib/python3.11/site-packages/tabula/io.py:1057: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
15304,180036921556789,12/28,JCB 15 digit,1997-06-06
15305,180018030448512,11/24,JCB 15 digit,2004-06-16
15306,3569953313547220,04/24,JCB 16 digit,2020-02-05
15307,4444521712606810,06/27,VISA 16 digit,2008-06-16
15308,372031786522735,02/30,American Express,2009-02-04

In [7]:
clean = data_cleaning.DataCleaning()
clean_pdf_data_pd = clean.clean_card_data(pdf_data_pd)

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:96: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  card['expiry_date'] = pd.to_datetime(card['expiry_date'], errors='coerce')

            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
...                 ...         ...                          ...
15304   180036921556789       12/28                 JCB 15 digit
15305   180018030448512       11/24                 JCB 15 digit
15306  3569953313547220       04/24                 JCB 16 digit
15307  4444521712606810       06/27                VISA 16 digit
15308   372031786522735       02/30             American Express

      date_payment_confirmed
0                 2015-11-25
1                 2001-06-18
2                 2000-12-26
3                 2011-02-12
4                 1997-03-13
...                      ...
15304             1997-06-06
15305             2004-06-16
15306             2020-02-05
15307             2008-06-16
15308             2009-02-04

[15309 rows x 4 columns]
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB

Missing values in each column:
 card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

Null values in each column:
 card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

Data types of each column:
 card_number               object
expiry_date               object
card_provider             object
date_payment_confirmed    object
dtype: object

Description of the DataFrame:
        card_number expiry_date  card_provider date_payment_confirmed
count        15309       15309          15309                  15309
unique       15299         136             25                   8270
top           NULL       03/28  VISA 16 digit                   NULL
freq            11         163           2426                     11
Converted 'card_number' to integer.
Converted 'expiry_date' to datetime.
Converted 'date_payment_confirmed' to datetime.
Ensured 'card_provider' is treated as string.

Data types of each column before cleaning:
 card_number                        Int64
expiry_date               datetime64[ns]
card_provider             string[python]
date_payment_confirmed    datetime64[ns]
dtype: object

Missing values in each column after cleaning:
 card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

Data types of each column after cleaning:
 card_number                        Int64
expiry_date               datetime64[ns]
card_provider             string[python]
date_payment_confirmed    datetime64[ns]
dtype: object

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:115: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  card[column].fillna(card[column].mean(), inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:118: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  card[column].fillna(card[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  card[column].fillna(card[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:118: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  card[column].fillna(card[column].mode()[0], inplace=True)

In [8]:
display(clean_pdf_data_pd)

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,2032-10-01,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,2032-10-01,American Express,2001-06-18
2,3529023891650490,2032-10-01,JCB 16 digit,2000-12-26
3,213142929492281,2032-10-01,JCB 15 digit,2011-02-12
4,502067329974,2032-10-01,Maestro,1997-03-13
...,...,...,...,...
15304,180036921556789,2032-10-01,JCB 15 digit,1997-06-06
15305,180018030448512,2032-10-01,JCB 15 digit,2004-06-16
15306,3569953313547220,2032-10-01,JCB 16 digit,2020-02-05
15307,4444521712606810,2032-10-01,VISA 16 digit,2008-06-16
15308,372031786522735,2032-10-01,American Express,2009-02-04

In [9]:
clean_pdf_data_pd.dtypes
clean_pdf_data_pd.to_csv('tables & csv/pdf_data_cleaned.csv')

In [10]:
upload = database_utils.DatabaseConnector()
upload_engine = upload.init_db_engine('my_sales_db.yaml')
upload.upload_to_db(pandas_dataframe=clean_pdf_data_pd, upload_table_name='dim_card_details', engine=upload_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_card_details

# Task 5

In [11]:
extract = data_extraction.DataExtractor()
number_stores = extract.list_number_of_stores()
print(number_stores)

451

In [12]:
# store_df = extract.retrieve_stores_data()
# store_df.to_csv('tables & csv/stores_data.csv')

In [13]:
store_df = pd.read_csv('tables & csv/stores_data.csv')
display(store_df)

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,1,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [14]:
store_df.dtypes

Unnamed: 0        int64
index             int64
address          object
longitude        object
lat              object
locality         object
store_code       object
staff_numbers    object
opening_date     object
store_type       object
latitude         object
country_code     object
continent        object
dtype: object

In [15]:
clean = data_cleaning.DataCleaning()
store_df_cleaned = clean.clean_store_data(store_df)
store_df_cleaned.to_csv('tables & csv/stores_data_cleaned.csv')

Initial DataFrame:
    Unnamed: 0  index                                            address  \
0           0      0                                                NaN
1           1      1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...
2           2      2        Heckerstraße 4/5\n50491 Säckingen, Landshut
3           3      3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury
4           4      4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...

  longitude  lat      locality    store_code staff_numbers opening_date  \
0       NaN  NaN           NaN  WEB-1388012W           325   2010-06-12
1  51.62907  NaN  High Wycombe   HI-9B97EE4E            34   1996-10-25
2  48.52961  NaN      Landshut   LA-0772C7B9            92   2013-04-12
3     51.26  NaN      Westbury   WE-1DE82CEE            69   2014-01-02
4   53.0233  NaN        Belper   BE-18074576            35   2019-09-09

    store_type  latitude country_code continent
0   Web Portal       NaN           GB    Europe
1        Local  -0.74934           GB    Europe
2  Super Store  12.16179           DE    Europe
3  Super Store   -2.1875           GB    Europe
4        Local  -1.48119           GB    Europe

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     451 non-null    int64
 1   index          451 non-null    int64
 2   address        447 non-null    object
 3   longitude      447 non-null    object
 4   lat            7 non-null      object
 5   locality       447 non-null    object
 6   store_code     448 non-null    object
 7   staff_numbers  448 non-null    object
 8   opening_date   448 non-null    object
 9   store_type     448 non-null    object
 10  latitude       447 non-null    object
 11  country_code   448 non-null    object
 12  continent      448 non-null    object
dtypes: int64(2), object(11)
memory usage: 45.9+ KB

Missing values in each column:
 Unnamed: 0         0
index              0
address            4
longitude          4
lat              444
locality           4
store_code         3
staff_numbers      3
opening_date       3
store_type         3
latitude           4
country_code       3
continent          3
dtype: int64

Null values in each column:
 Unnamed: 0         0
index              0
address            4
longitude          4
lat              444
locality           4
store_code         3
staff_numbers      3
opening_date       3
store_type         3
latitude           4
country_code       3
continent          3
dtype: int64

Data types of each column:
 Unnamed: 0        int64
index             int64
address          object
longitude        object
lat              object
locality         object
store_code       object
staff_numbers    object
opening_date     object
store_type       object
latitude         object
country_code     object
continent        object
dtype: object

Description of the DataFrame:
         Unnamed: 0       index  \
count   451.000000  451.000000
unique         NaN         NaN
top            NaN         NaN
freq           NaN         NaN
mean    225.000000  225.000000
std     130.336743  130.336743
min       0.000000    0.000000
25%     112.500000  112.500000
50%     225.000000  225.000000
75%     337.500000  337.500000
max     450.000000  450.000000

                                                  address longitude  \
count                                                 447       447
unique                                                447       123
top     Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...  53.46506
freq                                                    1        14
mean                                                  NaN       NaN
std                                                   NaN       NaN
min                                                   NaN       NaN
25%                                                   NaN       NaN
50%                                                   NaN       NaN
75%                                                   NaN       NaN
max                                                   NaN       NaN

               lat    locality    store_code staff_numbers opening_date  \
count            7         447           448           448          448
unique           7         123           448           113          439
top     13KJZ890JH  Chapletown  WEB-1388012W            20   2004-01-23
freq             1          14             1            18            3
mean           NaN         NaN           NaN           NaN          NaN
std            NaN         NaN           NaN           NaN          NaN
min            NaN         NaN           NaN           NaN          NaN
25%            NaN         NaN           NaN           NaN          NaN
50%            NaN         NaN           NaN           NaN          NaN
75%            NaN         NaN           NaN           NaN          NaN
max            NaN         NaN           NaN           NaN          NaN

       store_type  latitude country_code continent
count         448       447          448       448
unique         12       123           10        11
top         Local  -1.47217           GB    Europe
freq          255        14          266       383
mean          NaN       NaN          NaN       NaN
std           NaN       NaN          NaN       NaN
min           NaN       NaN          NaN       NaN
25%           NaN       NaN          NaN       NaN
50%           NaN       NaN          NaN       NaN
75%           NaN       NaN          NaN       NaN
max           NaN       NaN          NaN       NaN

DataFrame after removing rows with more than 6.5 null values:
    Unnamed: 0  index                                            address  \
0           0      0                                                NaN
1           1      1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...
2           2      2        Heckerstraße 4/5\n50491 Säckingen, Landshut
3           3      3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury
4           4      4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...

  longitude  lat      locality    store_code staff_numbers opening_date  \
0       NaN  NaN           NaN  WEB-1388012W           325   2010-06-12
1  51.62907  NaN  High Wycombe   HI-9B97EE4E            34   1996-10-25
2  48.52961  NaN      Landshut   LA-0772C7B9            92   2013-04-12
3     51.26  NaN      Westbury   WE-1DE82CEE            69   2014-01-02
4   53.0233  NaN        Belper   BE-18074576            35   2019-09-09

    store_type  latitude country_code continent
0   Web Portal       NaN           GB    Europe
1        Local  -0.74934           GB    Europe
2  Super Store  12.16179           DE    Europe
3  Super Store   -2.1875           GB    Europe
4        Local  -1.48119           GB    Europe
Ensured 'address' is treated as string.
Ensured 'longitude' is treated as string.
Ensured 'lat' is treated as string.
Ensured 'locality' is treated as string.
Ensured 'store_code' is treated as string.
Ensured 'staff_numbers' is treated as string.
Converted 'opening_date' to datetime.
Ensured 'store_type' is treated as string.
Ensured 'latitude' is treated as string.
Ensured 'country_code' is treated as string.
Ensured 'continent' is treated as string.

Missing values in each column after cleaning:
 Unnamed: 0       0
address          0
longitude        0
lat              0
locality         0
store_code       0
staff_numbers    0
opening_date     0
store_type       0
latitude         0
country_code     0
continent        0
dtype: int64

Data types of each column after cleaning:
 Unnamed: 0                int64
address          string[python]
longitude        string[python]
lat              string[python]
locality         string[python]
store_code       string[python]
staff_numbers    string[python]
opening_date     datetime64[ns]
store_type       string[python]
latitude         string[python]
country_code     string[python]
continent        string[python]
dtype: object

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:179: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:183: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:181: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:183: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [16]:
display(store_df_cleaned)

,Unnamed: 0,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,"0 Marian circles Port Kayleigh PR5 6LW, Bushey",53.46506,13KJZ890JH,Chapletown,WEB-1388012W,325,2010-06-12,Web Portal,-1.47217,GB,Europe
1,1,"Flat 72W Sally isle East Deantown E7B 8EB, Hig...",51.62907,13KJZ890JH,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,2,"Heckerstraße 4/5 50491 Säckingen, Landshut",48.52961,13KJZ890JH,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,3,"5 Harrison tunnel South Lydia WC9 2BE, Westbury",51.26,13KJZ890JH,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,4,"Studio 6 Stephen landing South Simon B77 2WA, ...",53.0233,13KJZ890JH,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...
446,446,"Täschestraße 25 39039 Nördlingen, Kirchlengern",52.2,13KJZ890JH,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,2004-01-23,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,448,"Studio 8 Moss mall West Linda M0E 6XR, High Wy...",51.62907,13KJZ890JH,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,449,"Baumplatz 6 80114 Kötzting, Bretten",49.03685,13KJZ890JH,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,450,"Gotthilf-Rose-Straße 7/3 45457 Feuchtwangen, B...",50.64336,13KJZ890JH,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [17]:
store_df_cleaned.dtypes

Unnamed: 0                int64
address          string[python]
longitude        string[python]
lat              string[python]
locality         string[python]
store_code       string[python]
staff_numbers    string[python]
opening_date     datetime64[ns]
store_type       string[python]
latitude         string[python]
country_code     string[python]
continent        string[python]
dtype: object

In [20]:
upload = database_utils.DatabaseConnector()
upload_engine = upload.init_db_engine('my_sales_db.yaml')
upload.upload_to_db(pandas_dataframe=store_df_cleaned, upload_table_name='dim_store_details', engine=upload_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_store_details

# Task 6

In [3]:
# extract = data_extraction.DataExtractor()
# products_df = extract.extract_from_s3("s3://data-handling-public/products.csv")
# display(products_df)

*** Data Downloaded ***
--- DataFrame Extracted ---

,Unnamed: 0,product_name,product_price,weight,category,EAN,date_added,uuid,removed,product_code
0,0,FurReal Dazzlin' Dimples My Playful Dolphin,£39.99,1.6kg,toys-and-games,7425710935115,2005-12-02,83dc0a69-f96f-4c34-bcb7-928acae19a94,Still_avaliable,R7-3126933h
1,1,Tiffany's World Day Out At The Park,£12.99,0.48kg,toys-and-games,487128731892,2006-01-09,712254d7-aea7-4310-aff8-8bcdd0aec7ff,Still_avaliable,C2-7287916l
2,2,Tiffany's World Pups Picnic Playset,£7.00,590g,toys-and-games,1945816904649,1997-03-29,b089ef6f-b628-4e37-811d-fffe0102ba64,Still_avaliable,S7-1175877v
3,3,Tiffany's World Wildlife Park Adventures,£12.99,540g,toys-and-games,1569790890899,2013-03-20,d55de422-8b98-47d6-9991-e4bc4c5c0cb0,Removed,D8-8421505n
4,4,Cosatto Cosy Dolls Pram,£30.00,1.91kg,toys-and-games,7142740213920,2007-12-23,7945b657-cb02-4cc5-96cf-f65ed0a8f235,Still_avaliable,B6-2596063a
...,...,...,...,...,...,...,...,...,...,...
1848,1848,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,8185827751600,2020-08-28,3ff21cb1-8e90-499d-b5a0-6839fb83e70f,Still_avaliable,x4-2227164k
1849,1849,Goodmans Qi Wireless Charging Phone Stand,£15.00,134g,diy,9769724533935,2012-05-20,a7910f74-c2b6-4144-98b7-30ca68f34d2d,Still_avaliable,i3-8338545Z
1850,1850,RAC 12V Wet & Dry Vacuum,£18.00,820g,diy,3113855860327,1993-11-28,66d3efa0-f480-4da9-893b-e8aaff53e27b,Still_avaliable,n4-1642658b
1851,1851,Goodmans Qi Autosense In Car Phone Holder,£15.00,125g,diy,9195087467400,2016-09-20,efb472f1-8f00-448e-a874-9fa9812eeab5,Still_avaliable,A3-7619070S
1852,1852,Beldray Telescopic Ladder 2.9m,£69.00,9.4kg,diy,8518402353072,2006-10-07,cfe701da-6493-4a7f-83cf-9aab1650f689,Still_avaliable,i6-2851854w

In [2]:
products_df = pd.read_csv("tables & csv/products.csv")
clean = data_cleaning.DataCleaning()

In [9]:
kg_products_df = clean.convert_product_weights(products=products_df)
kg_products_df.to_csv('tables & csv/products_w_kg.csv')

In [3]:
kg_products_df = pd.read_csv('tables & csv/products_w_kg.csv')

In [4]:
clean_products = clean.clean_products_data(kg_products_df)

Initial DataFrame:
    Unnamed: 0.1  Unnamed: 0                                 product_name  \
0             0           0  FurReal Dazzlin' Dimples My Playful Dolphin
1             1           1          Tiffany's World Day Out At The Park
2             2           2          Tiffany's World Pups Picnic Playset
3             3           3     Tiffany's World Wildlife Park Adventures
4             4           4                      Cosatto Cosy Dolls Pram

  product_price  weight        category            EAN  date_added  \
0        £39.99    1.60  toys-and-games  7425710935115  2005-12-02
1        £12.99    0.48  toys-and-games   487128731892  2006-01-09
2         £7.00    0.59  toys-and-games  1945816904649  1997-03-29
3        £12.99    0.54  toys-and-games  1569790890899  2013-03-20
4        £30.00    1.91  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1853 entries, 0 to 1852
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0.1   1853 non-null   int64
 1   Unnamed: 0     1853 non-null   int64
 2   product_name   1849 non-null   object
 3   product_price  1849 non-null   object
 4   weight         1849 non-null   float64
 5   category       1849 non-null   object
 6   EAN            1849 non-null   object
 7   date_added     1849 non-null   object
 8   uuid           1849 non-null   object
 9   removed        1849 non-null   object
 10  product_code   1849 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 159.4+ KB

Missing values in each column:
 Unnamed: 0.1     0
Unnamed: 0       0
product_name     4
product_price    4
weight           4
category         4
EAN              4
date_added       4
uuid             4
removed          4
product_code     4
dtype: int64

Null values in each column:
 Unnamed: 0.1     0
Unnamed: 0       0
product_name     4
product_price    4
weight           4
category         4
EAN              4
date_added       4
uuid             4
removed          4
product_code     4
dtype: int64

Data types of each column:
 Unnamed: 0.1       int64
Unnamed: 0         int64
product_name      object
product_price     object
weight           float64
category          object
EAN               object
date_added        object
uuid              object
removed           object
product_code      object
dtype: object

Description of the DataFrame:
         Unnamed: 0.1   Unnamed: 0                          product_name  \
count    1853.000000  1853.000000                                  1849
unique           NaN          NaN                                  1021
top              NaN          NaN  Maine 3 Tier Corner Shelving - White
freq             NaN          NaN                                    12
mean      926.000000   926.000000                                   NaN
std       535.059343   535.059343                                   NaN
min         0.000000     0.000000                                   NaN
25%       463.000000   463.000000                                   NaN
50%       926.000000   926.000000                                   NaN
75%      1389.000000  1389.000000                                   NaN
max      1852.000000  1852.000000                                   NaN

       product_price       weight  category            EAN  date_added  \
count           1849  1849.000000      1849           1849        1849
unique           132          NaN        10           1849        1704
top           £25.00          NaN  homeware  7425710935115  2007-01-15
freq             113          NaN      1138              1           3
mean             NaN     3.105717       NaN            NaN         NaN
std              NaN    27.588805       NaN            NaN         NaN
min              NaN     0.000944       NaN            NaN         NaN
25%              NaN     0.270000       NaN            NaN         NaN
50%              NaN     0.720000       NaN            NaN         NaN
75%              NaN     2.060000       NaN            NaN         NaN
max              NaN  1160.000000       NaN            NaN         NaN

                                        uuid          removed product_code
count                                   1849             1849         1849
unique                                  1849                5         1849
top     83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
freq                                       1             1752            1
mean                                     NaN              NaN          NaN
std                                      NaN              NaN          NaN
min                                      NaN              NaN          NaN
25%                                      NaN              NaN          NaN
50%                                      NaN              NaN          NaN
75%                                      NaN              NaN          NaN
max                                      NaN              NaN          NaN

DataFrame after removing rows with more than 5.5 null values:
    Unnamed: 0.1  Unnamed: 0                                 product_name  \
0             0           0  FurReal Dazzlin' Dimples My Playful Dolphin
1             1           1          Tiffany's World Day Out At The Park
2             2           2          Tiffany's World Pups Picnic Playset
3             3           3     Tiffany's World Wildlife Park Adventures
4             4           4                      Cosatto Cosy Dolls Pram

  product_price  weight        category            EAN  date_added  \
0        £39.99    1.60  toys-and-games  7425710935115  2005-12-02
1        £12.99    0.48  toys-and-games   487128731892  2006-01-09
2         £7.00    0.59  toys-and-games  1945816904649  1997-03-29
3        £12.99    0.54  toys-and-games  1569790890899  2013-03-20
4        £30.00    1.91  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

DataFrame after removing 'Unnamed' columns:
                                   product_name product_price  weight  \
0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99    1.60
1          Tiffany's World Day Out At The Park        £12.99    0.48
2          Tiffany's World Pups Picnic Playset         £7.00    0.59
3     Tiffany's World Wildlife Park Adventures        £12.99    0.54
4                      Cosatto Cosy Dolls Pram        £30.00    1.91

         category            EAN  date_added  \
0  toys-and-games  7425710935115  2005-12-02
1  toys-and-games   487128731892  2006-01-09
2  toys-and-games  1945816904649  1997-03-29
3  toys-and-games  1569790890899  2013-03-20
4  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

DataFrame after removing corrupted rows (indices [751, 1400, 1133]):
                                   product_name product_price  weight  \
0  FurReal Dazzlin' Dimples My Playful Dolphin        £39.99    1.60
1          Tiffany's World Day Out At The Park        £12.99    0.48
2          Tiffany's World Pups Picnic Playset         £7.00    0.59
3     Tiffany's World Wildlife Park Adventures        £12.99    0.54
4                      Cosatto Cosy Dolls Pram        £30.00    1.91

         category            EAN  date_added  \
0  toys-and-games  7425710935115  2005-12-02
1  toys-and-games   487128731892  2006-01-09
2  toys-and-games  1945816904649  1997-03-29
3  toys-and-games  1569790890899  2013-03-20
4  toys-and-games  7142740213920  2007-12-23

                                   uuid          removed product_code
0  83dc0a69-f96f-4c34-bcb7-928acae19a94  Still_avaliable  R7-3126933h
1  712254d7-aea7-4310-aff8-8bcdd0aec7ff  Still_avaliable  C2-7287916l
2  b089ef6f-b628-4e37-811d-fffe0102ba64  Still_avaliable  S7-1175877v
3  d55de422-8b98-47d6-9991-e4bc4c5c0cb0          Removed  D8-8421505n
4  7945b657-cb02-4cc5-96cf-f65ed0a8f235  Still_avaliable  B6-2596063a

In [5]:
clean_products.to_csv('tables & csv/products_cleaned.csv')

In [6]:
upload = database_utils.DatabaseConnector()
upload_engine = upload.init_db_engine('my_sales_db.yaml')
upload.upload_to_db(pandas_dataframe=clean_products, upload_table_name='dim_products', engine=upload_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_products

# Task 7

In [6]:
utils = database_utils.DatabaseConnector()
rds_engine = utils.init_db_engine('db_creds.yaml')
table_list = utils.list_db_tables(rds_engine)
print(table_list)

{'HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'PASSWORD': 'AiCore2022', 'USER': 'aicore_admin', 'DATABASE': 'postgres', 'PORT': 5432}

Tables List:  ['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

In [7]:
table_name = 'orders_table'
extract = data_extraction.DataExtractor()
orders_df = extract.read_rds_table(table_name=table_name, engine=rds_engine)

In [9]:
display(orders_df)

,level_0,index,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
0,0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,None,None,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,NaN,3
1,1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,None,None,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,NaN,2
2,2,2,65187294-bb16-4519-adc0-787bbe423970,None,None,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,NaN,2
3,3,3,579e21f7-13cb-436b-83ad-33687a4eb337,None,None,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,NaN,2
4,4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,None,None,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...
120118,110549,110548,f0e8fff6-9998-4661-954b-0e258e09d33c,None,None,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,NaN,4
120119,82164,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,None,None,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,NaN,1
120120,97599,97599,58598aca-049c-418e-8e39-46327634a7f1,Sharon,Miller,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,NaN,4
120121,106591,106591,3a76f661-0707-4fbc-9862-f21d3249f581,None,None,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,NaN,4
120122,118806,118804,98fdc8b3-f619-4471-86b4-f44c26880166,None,None,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,NaN,3

In [11]:
orders_df.to_csv('tables & csv/orders_table', index=False)
orders_df = pd.read_csv('tables & csv/orders_table', index_col='index')
display(orders_df)

,level_0,date_uuid,first_name,last_name,user_uuid,card_number,store_code,product_code,1,product_quantity
index,,,,,,,,,,
0,0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,NaN,NaN,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,NaN,3
1,1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,NaN,NaN,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,NaN,2
2,2,65187294-bb16-4519-adc0-787bbe423970,NaN,NaN,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,NaN,2
3,3,579e21f7-13cb-436b-83ad-33687a4eb337,NaN,NaN,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,NaN,2
4,4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,NaN,NaN,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,NaN,2
...,...,...,...,...,...,...,...,...,...,...
110548,110549,f0e8fff6-9998-4661-954b-0e258e09d33c,NaN,NaN,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,NaN,4
82164,82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,NaN,NaN,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,NaN,1
97599,97599,58598aca-049c-418e-8e39-46327634a7f1,Sharon,Miller,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,NaN,4
106591,106591,3a76f661-0707-4fbc-9862-f21d3249f581,NaN,NaN,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,NaN,4
118804,118806,98fdc8b3-f619-4471-86b4-f44c26880166,NaN,NaN,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,NaN,3

In [12]:
clean = data_cleaning.DataCleaning()
orders_df_cleaned = clean.clean_orders_data(order_df=orders_df)
display(orders_df_cleaned)

Info:

<class 'pandas.core.frame.DataFrame'>
Index: 120123 entries, 0 to 118804
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   level_0           120123 non-null  int64
 1   date_uuid         120123 non-null  object
 2   first_name        15284 non-null   object
 3   last_name         15284 non-null   object
 4   user_uuid         120123 non-null  object
 5   card_number       120123 non-null  int64
 6   store_code        120123 non-null  object
 7   product_code      120123 non-null  object
 8   1                 0 non-null       float64
 9   product_quantity  120123 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 10.1+ MB

Removed ['first_name', 'last_name', '1', 'level_0']:
                                   date_uuid  \
index
0      9476f17e-5d6a-4117-874d-9cdb38ca1fa6
1      0423a395-a04d-4e4a-bd0f-d237cbd5a295
2      65187294-bb16-4519-adc0-787bbe423970
3      579e21f7-13cb-436b-83ad-33687a4eb337
4      00ab86c3-2039-4674-b9c1-adbcbbf525bd

                                  user_uuid       card_number    store_code  \
index
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8    30060773296197   BL-8387506C
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49   349624180933183  WEB-1388012W
2      fc461df4-b919-48b2-909e-55c95a03fe6b  3529023891650490   CH-01D85C8D
3      6104719f-ef14-4b09-bf04-fb0c4620acb0   213142929492281   CL-C183BE4B
4      9523a6d3-b2dd-4670-a51a-36aebc89f579      502067329974   SO-B5B9CB3B

      product_code  product_quantity
index
0      R7-3126933h                 3
1      C2-7287916l                 2
2      S7-1175877v                 2
3      D8-8421505n                 2
4      B6-2596063a                 2

,date_uuid,user_uuid,card_number,store_code,product_code,product_quantity
index,,,,,,
0,9476f17e-5d6a-4117-874d-9cdb38ca1fa6,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8,30060773296197,BL-8387506C,R7-3126933h,3
1,0423a395-a04d-4e4a-bd0f-d237cbd5a295,8fe96c3a-d62d-4eb5-b313-cf12d9126a49,349624180933183,WEB-1388012W,C2-7287916l,2
2,65187294-bb16-4519-adc0-787bbe423970,fc461df4-b919-48b2-909e-55c95a03fe6b,3529023891650490,CH-01D85C8D,S7-1175877v,2
3,579e21f7-13cb-436b-83ad-33687a4eb337,6104719f-ef14-4b09-bf04-fb0c4620acb0,213142929492281,CL-C183BE4B,D8-8421505n,2
4,00ab86c3-2039-4674-b9c1-adbcbbf525bd,9523a6d3-b2dd-4670-a51a-36aebc89f579,502067329974,SO-B5B9CB3B,B6-2596063a,2
...,...,...,...,...,...,...
110548,f0e8fff6-9998-4661-954b-0e258e09d33c,95c74b0a-d495-4359-b1c0-e2da511e8403,575421945446,KA-FA7ED3B8,C9-6827622o,4
82164,1c80940a-d186-4ba9-9daa-8abd1aceae32,5d6fa6fe-e583-4baf-8bbb-d1dd6e2b551f,4971858637664481,WA-A41DA979,I0-1146408B,1
97599,58598aca-049c-418e-8e39-46327634a7f1,48b7f1fc-db13-4611-ad8e-3dac0b759488,4971858637664481,WEB-1388012W,A4-5443400b,4
106591,3a76f661-0707-4fbc-9862-f21d3249f581,51c0b538-7ded-4697-8e84-9f7aa13f9112,4971858637664481,SO-6D328417,E9-2782979e,4
118804,98fdc8b3-f619-4471-86b4-f44c26880166,e74907ca-1a4a-476c-a3ca-6b898b0964c2,4971858637664481,SO-6D328417,m0-0281207X,3

In [13]:
orders_df_cleaned.to_csv('tables & csv/orders_table_cleaned')

In [14]:
sales_engine = utils.init_db_engine('my_sales_db.yaml')
utils.upload_to_db(pandas_dataframe=orders_df_cleaned, upload_table_name='orders_table', engine=sales_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as orders_table

# Task 8

In [3]:
s3_address = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'
extract = data_extraction.DataExtractor()
date_details_df = extract.extract_from_s3(s3_address)
display(date_details_df)

*** Data Downloaded via S3 ***
--- DataFrame Extracted ---

,timestamp,month,year,day,time_period,date_uuid
0,22:00:06,9,2012,19,Evening,3b7ca996-37f9-433f-b6d0-ce8391b615ad
1,22:44:06,2,1997,10,Evening,adc86836-6c35-49ca-bb0d-65b6507a00fa
2,10:05:37,4,1994,15,Morning,5ff791bf-d8e0-4f86-8ceb-c7b60bef9b31
3,17:29:27,11,2001,6,Midday,1b01fcef-5ab9-404c-b0d4-1e75a0bd19d8
4,22:40:33,12,2015,31,Evening,dfa907c1-f6c5-40f0-aa0d-40ed77ac5a44
...,...,...,...,...,...,...
120156,22:56:56,11,2022,12,Evening,d6c4fb31-720d-4e94-aa6b-dcbcb85f2bb7
120157,18:25:20,5,1997,31,Evening,f7722027-1aae-49c3-8f8d-853e93f9f3e6
120158,18:21:40,9,2011,13,Evening,4a3b9851-52e1-463c-ac81-1960f141444e
120159,19:10:53,7,2013,12,Evening,64974909-0d4b-42a2-822a-73b5695e8bfb
120160,21:17:12,3,2008,18,Evening,55c228c7-14ee-4d46-99a9-01dfc57d1adf

In [5]:
utils = database_utils.DatabaseConnector()
sales_engine = utils.init_db_engine('my_sales_db.yaml')
utils.upload_to_db(pandas_dataframe=date_details_df, upload_table_name='dim_date_times', engine=sales_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_date_times