In [1]:
import data_cleaning, data_extraction, database_utils
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Milestone 2

## Task 3

In [2]:
rds = database_utils.DatabaseConnector()
rds_credentials = rds.read_db_creds('db_creds.yaml')
print(rds_credentials)
rds_engine = rds.init_db_engine('db_creds.yaml')

list_tables = rds.list_db_tables(rds_engine)
print(list_tables)

{'HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'PASSWORD': 'AiCore2022', 'USER': 'aicore_admin', 'DATABASE': 'postgres', 'PORT': 5432}
{'HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'PASSWORD': 'AiCore2022', 'USER': 'aicore_admin', 'DATABASE': 'postgres', 'PORT': 5432}

Tables List:  ['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

In [4]:
table_name = 'legacy_users'
extract = data_extraction.DataExtractor()
table_pd = extract.read_rds_table(table_name=table_name, engine=rds_engine)
display(table_pd)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [5]:
clean = data_cleaning.DataCleaning()
cleaned_user_data = clean.clean_user_data(table_pd)
display(cleaned_user_data)

       index first_name last_name date_of_birth                       company  \
0          0   Sigfried     Noack    1990-09-30            Heydrich Junitz KG
1          1        Guy     Allen    1940-12-01                       Fox Ltd
2          2      Harry  Lawrence    1995-08-02     Johnson, Jones and Harris
3          3     Darren   Hussain    1972-09-23                   Wheeler LLC
4          4      Garry     Stone    1952-12-20                    Warner Inc
...      ...        ...       ...           ...                           ...
15315  14913    Stephen   Jenkins    1943-08-09  Thornton, Carroll and Newman
15316  14994    Stephen     Smith    1948-08-20               Robinson-Harris
15317  15012    Stephen  Losekann    1940-10-09                       Rosenow
15318  15269    Stephen    Rivera    1952-06-04         Taylor, Fry and Jones
15319   1249    Stephen    Duncan    1994-03-27    Phillips, Brown and Powell

                      email_address  \
0                 rudi79@winkler.de
1      rhodesclifford@henderson.com
2      glen98@bryant-marshall.co.uk
3        daniellebryan@thompson.org
4           billy14@long-warren.com
...                             ...
15315           s.jenkins@smith.com
15316             s.smith@smith.com
15317          s.losekann@smith.com
15318            s.rivera@smith.com
15319            s.duncan@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
1      Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                     92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3                 19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
...                                                  ...             ...
15315     Studio 41I\nJones lodge\nOliviaborough\nE8 3DU  United Kingdom
15316              530 Young parkway\nMillsfurt\nL4G 7NX  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States
15319     Studio 4\nHancock road\nPhillipsview\nST1X 3XB  United Kingdom

      country_code       phone_number   join_date  \
0               DE   +49(0) 047905356  2018-10-10
1               GB    (0161) 496 0674  2001-12-20
2               GB  +44(0)121 4960340  2016-12-16
3               GB    (0306) 999 0871  2004-02-23
4               GB      0121 496 0225  2006-09-01
...            ...                ...         ...
15315           GB    +44(0)292018946  2016-04-15
15316           GB   +44(0)1144960977  2020-07-20
15317           DE        02984 08192  2021-03-07
15318           US       239.711.3836  2011-01-03
15319           GB   +44(0)1314960870  2015-08-28

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1      8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2      fc461df4-b919-48b2-909e-55c95a03fe6b
3      6104719f-ef14-4b09-bf04-fb0c4620acb0
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
...                                     ...
15315  2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316  d234c04b-c07c-46a5-a902-526f91478ecc
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319  0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

[15320 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
Info:
 None
NULL Values?:
 index            False
first_name       False
last_name        False
date_of_birth    False
company          False
email_address    False
address          False
country          False
country_code     False
phone_number     False
join_date        False
user_uuid        False
dtype: bool

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [6]:
local = database_utils.DatabaseConnector()
local_db_engine = local.init_db_engine('my_sales_db.yaml')
local.upload_to_db(pandas_dataframe=cleaned_user_data, upload_table_name='dim_users', engine=local_db_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}

## Task 4

In [2]:
upload_table_name='dim_card_details'
link_to_pdf = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"

extract = data_extraction.DataExtractor()
pdf_data_pd = extract.retrieve_pdf_data(link=link_to_pdf, pages='all')

print(pdf_data_pd)

# clean = data_cleaning.DataCleaning()
# clean.clean_card_data(pdf_data)

            card_number expiry_date                card_provider  \
0        30060773296197       09/26  Diners Club / Carte Blanche
1       349624180933183       10/23             American Express
2      3529023891650490       06/23                 JCB 16 digit
3       213142929492281       09/27                 JCB 15 digit
4          502067329974       10/25                      Maestro
...                 ...         ...                          ...
15304   180036921556789       12/28                 JCB 15 digit
15305   180018030448512       11/24                 JCB 15 digit
15306  3569953313547220       04/24                 JCB 16 digit
15307  4444521712606810       06/27                VISA 16 digit
15308   372031786522735       02/30             American Express

      date_payment_confirmed
0                 2015-11-25
1                 2001-06-18
2                 2000-12-26
3                 2011-02-12
4                 1997-03-13
...                      ...
15304             1997-06-06
15305             2004-06-16
15306             2020-02-05
15307             2008-06-16
15308             2009-02-04

[15309 rows x 4 columns]

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/.conda/lib/python3.11/site-packages/tabula/io.py:1057: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[c] = pd.to_numeric(df[c], errors="ignore")

In [5]:
display(pdf_data_pd)

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13
...,...,...,...,...
15304,180036921556789,12/28,JCB 15 digit,1997-06-06
15305,180018030448512,11/24,JCB 15 digit,2004-06-16
15306,3569953313547220,04/24,JCB 16 digit,2020-02-05
15307,4444521712606810,06/27,VISA 16 digit,2008-06-16
15308,372031786522735,02/30,American Express,2009-02-04