In [1]:
import data_cleaning, data_extraction, database_utils
import pandas as pd
import re
from sqlalchemy import create_engine
from sqlalchemy import inspect

# Milestone 2

## Task 3

In [2]:
# rds = database_utils.DatabaseConnector()
# rds_credentials = rds.read_db_creds('db_creds.yaml')
# print(rds_credentials)
# rds_engine = rds.init_db_engine('db_creds.yaml')

# list_tables = rds.list_db_tables(rds_engine)
# print(list_tables)

In [3]:
# table_name = 'legacy_users'
# extract = data_extraction.DataExtractor()
# user_data = extract.read_rds_table(table_name=table_name, engine=rds_engine)
# user_data.to_csv('tables & csv/legacy_users.csv', index=False)
# display(user_data.head())

In [4]:
# user_data = pd.read_csv('tables & csv/legacy_users.csv')
# display(user_data.head())

In [5]:
# clean = data_cleaning.DataCleaning()
# cleaned_user_data = clean.clean_user_data(user_data)
# cleaned_user_data.to_csv('tables & csv/legacy_users_cleaned.csv', index=False)

In [6]:
# upload = database_utils.DatabaseConnector()
# upload_engine = upload.init_db_engine('my_sales_db.yaml')
# upload.upload_to_db(pandas_dataframe=cleaned_user_data, upload_table_name='dim_users', engine=upload_engine)

## Task 4

In [7]:
# upload_table_name='dim_card_details'
# link_to_pdf = "https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf"

# extract = data_extraction.DataExtractor()
# pdf_data_pd = extract.retrieve_pdf_data(link=link_to_pdf, pages='all')
# pdf_data_pd.to_csv('tables & csv/pdf_data.csv', index=False)

In [8]:
pdf_data_pd = pd.read_csv('tables & csv/pdf_data.csv')
display(pdf_data_pd.head())

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13

In [9]:
# print(pdf_data_pd.card_provider.unique())

# values=['Diners Club / Carte Blanche', 'American Express', 'JCB 16 digit',
#        'JCB 15 digit', 'Maestro', 'Mastercard', 'Discover',
#        'VISA 19 digit', 'VISA 16 digit', 'VISA 13 digit']

# pdf_data_pd =  pdf_data_pd[pdf_data_pd["card_provider"].isin(values)]

In [10]:
pdf_data_pd.card_number.unique()

array(['30060773296197', '349624180933183', '3529023891650490', ...,
       '3569953313547220', '4444521712606810', '372031786522735'],
      dtype=object)

In [11]:
# pdf_data_pd['card_number'] = pdf_data_pd['card_number'].astype(str).replace('?', '')

In [12]:
clean = data_cleaning.DataCleaning()
clean_pdf_data_pd = clean.clean_card_data(pdf_data_pd)
clean_pdf_data_pd.to_csv('tables & csv/pdf_data_cleaned.csv', index=False)

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15298 non-null  object
 1   expiry_date             15298 non-null  object
 2   card_provider           15298 non-null  object
 3   date_payment_confirmed  15298 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB

Missing values in each column:
 card_number               11
expiry_date               11
card_provider             11
date_payment_confirmed    11
dtype: int64

Null values in each column:
 card_number               11
expiry_date               11
card_provider             11
date_payment_confirmed    11
dtype: int64

Data types of each column:
 card_number               object
expiry_date               object
card_provider             object
date_payment_confirmed    object
dtype: object

Description of the DataFrame:
            card_number expiry_date  card_provider date_payment_confirmed
count            15298       15298          15298                  15298
unique           15298         135             24                   8269
top     30060773296197       12/29  VISA 16 digit             1998-02-25
freq                 1         163           2426                      8

Missing values in each column after cleaning:
 card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64

Data types of each column after cleaning:
 card_number               object
expiry_date               object
card_provider             object
date_payment_confirmed    object
dtype: object

/Users/yusufshamsi/Documents/GitHub/multinational-retail-data-centralisation129/data_cleaning.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  card.dropna(how='all', inplace=True)

In [13]:
display(clean_pdf_data_pd.head())

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13

In [14]:
print(clean_pdf_data_pd.info())
print(clean_pdf_data_pd.card_provider.unique())

<class 'pandas.core.frame.DataFrame'>
Index: 15284 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: object(4)
memory usage: 597.0+ KB
None
['Diners Club / Carte Blanche' 'American Express' 'JCB 16 digit'
 'JCB 15 digit' 'Maestro' 'Mastercard' 'Discover' 'VISA 19 digit'
 'VISA 16 digit' 'VISA 13 digit']

In [15]:
upload = database_utils.DatabaseConnector()
upload_engine = upload.init_db_engine('my_sales_db.yaml')
upload.upload_to_db(pandas_dataframe=clean_pdf_data_pd, upload_table_name='dim_card_details', engine=upload_engine)

{'DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2', 'HOST': 'localhost', 'USER': 'postgres', 'PASSWORD': 'postgres', 'DATABASE': 'sales_data', 'PORT': 5432}
Uploaded dataframe as dim_card_details

# Task 5

In [16]:
# extract = data_extraction.DataExtractor()
# number_stores = extract.list_number_of_stores()
# print(number_stores)

In [17]:
# store_df = extract.retrieve_stores_data()
# store_df.to_csv('tables & csv/stores_data.csv', index=False)

In [18]:
# store_df = pd.read_csv('tables & csv/stores_data.csv')
# display(store_df.head())

In [19]:
# store_df.continent.unique()

In [20]:
# store_df['continent'] = store_df['continent'].astype(str).replace('eeEurope', 'Europe')
# store_df['continent'] = store_df['continent'].astype(str).replace('eeAmerica', 'America')
# store_df.continent.unique()

In [21]:
# values=['Europe', 'America']
# store_df = store_df[store_df["continent"].isin(values)]
# store_df.continent.unique()

In [22]:
# store_df.staff_numbers.unique()

In [23]:
# store_df['staff_numbers'] = store_df['staff_numbers'].apply(lambda x: re.sub(r'[a-zA-Z]', '', x))

In [24]:
# store_df.staff_numbers.unique()

In [25]:
# store_df.info()

In [26]:
# clean = data_cleaning.DataCleaning()
# store_df_cleaned = clean.clean_store_data(store_df)
# store_df_cleaned.to_csv('tables & csv/stores_data_cleaned.csv', index=False)

In [27]:
# display(store_df_cleaned.head())

In [28]:
# store_df_cleaned.staff_numbers.unique()

In [29]:
# upload = database_utils.DatabaseConnector()
# upload_engine = upload.init_db_engine('my_sales_db.yaml')
# upload.upload_to_db(pandas_dataframe=store_df_cleaned, upload_table_name='dim_store_details', engine=upload_engine)

# Task 6

In [30]:
# extract = data_extraction.DataExtractor()
# products_df = extract.extract_from_s3("s3://data-handling-public/products.csv")
# display(products_df.head())

In [31]:
# products_df = pd.read_csv("tables & csv/products.csv")
# display(products_df.head())

In [32]:
# products_df.removed.unique()

In [33]:
# values=['Still_avaliable', 'Removed']
# products_df = products_df[products_df["removed"].isin(values)]
# products_df.removed.unique()

In [34]:
# clean = data_cleaning.DataCleaning()
# kg_products_df = clean.convert_product_weights(products=products_df)
# kg_products_df.to_csv('tables & csv/products_w_kg.csv', index=False)

In [35]:
# kg_products_df.head()

In [36]:
# kg_products_df = pd.read_csv('tables & csv/products_w_kg.csv')

In [37]:
# kg_products_df.head()

In [38]:
# clean_products = clean.clean_products_data(kg_products_df)
# clean_products.to_csv('tables & csv/products_cleaned.csv', index=False)

In [39]:
# upload = database_utils.DatabaseConnector()
# upload_engine = upload.init_db_engine('my_sales_db.yaml')
# upload.upload_to_db(pandas_dataframe=clean_products, upload_table_name='dim_products', engine=upload_engine)

# Task 7

In [40]:
# utils = database_utils.DatabaseConnector()
# rds_engine = utils.init_db_engine('db_creds.yaml')
# table_list = utils.list_db_tables(rds_engine)
# print(table_list)

In [41]:
# table_name = 'orders_table'
# extract = data_extraction.DataExtractor()
# orders_df = extract.read_rds_table(table_name=table_name, engine=rds_engine)

In [42]:
# display(orders_df)

In [43]:
# orders_df.to_csv('tables & csv/orders_table', index=False)
# orders_df = pd.read_csv('tables & csv/orders_table', index_col='index')
# display(orders_df)

In [44]:
# clean = data_cleaning.DataCleaning()
# orders_df_cleaned = clean.clean_orders_data(order_df=orders_df)
# display(orders_df_cleaned)

In [45]:
# orders_df_cleaned.to_csv('tables & csv/orders_table_cleaned', index=False)

In [46]:
# sales_engine = utils.init_db_engine('my_sales_db.yaml')
# utils.upload_to_db(pandas_dataframe=orders_df_cleaned, upload_table_name='orders_table', engine=sales_engine)

# Task 8

In [47]:
# s3_address = 'https://data-handling-public.s3.eu-west-1.amazonaws.com/date_details.json'
# extract = data_extraction.DataExtractor()
# date_details_df = extract.extract_from_s3(s3_address)
# display(date_details_df)

In [48]:
# date_details_df.to_csv('tables & csv/date_details.csv', index=False)

In [49]:
# date_details_df['time_period'].unique()

In [50]:
# values=['Evening', 'Morning', 'Midday', 'Late_Hours']
# date_details_df = date_details_df[date_details_df['time_period'].isin(values)]
# date_details_df.time_period.unique()

In [51]:
# clean = data_cleaning.DataCleaning()
# date_details_cleaned = clean.clean_date_data(date_details_df)
# date_details_cleaned.time_period.unique()

In [52]:
# date_details_cleaned.to_csv('tables & csv/date_details_cleaned.csv', index=False)

In [53]:
# utils = database_utils.DatabaseConnector()
# sales_engine = utils.init_db_engine('my_sales_db.yaml')
# utils.upload_to_db(pandas_dataframe=date_details_cleaned, upload_table_name='dim_date_times', engine=sales_engine)